#cluster-map {
  width: 100%;
  height: 450px;
}

#show-map {
  width: 400px;
  height: 300px;
}

.img-fluid {
  height: auto;
}

#showimg {
  height: 450px;
}

#loginimg {
  height: 300px;
}

#signupimg {
  height: 280px;
}

@media (max-width: 412px) {
  #show-map {
    width: auto;
  }
}

@media (min-width: 770px) and (max-width: 830px) {
  #show-map {
    width: auto;
  }
}
